.DS_Store
*.pyc
*~
pip-log.txt
.idea
.codeintel
*/settings/local*
media
static
whoosh_index
*.zip
*.csv
*.bz2
*.sql
*.log
node_modules
.sass-cache
reports/
locale/*/LC_MESSAGES/*.mo
virtual_env/
db.sqlite*
/*.json
data/
db/db.sqlite3
dist/
.mypy_cache