# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SpaceEngineers_ivxr.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
